In [5]:
age = 40
if age < 25:
    print("group1")
print("if statment got executed")

if statment got executed

In [6]:
age = 40
if age < 45:
    print("group1")
print("if statment got executed")

group1
if statment got executed

In [10]:
age = int(input("enter the age\n"))
if age < 45:
    print("group1")
print("if statement got executed")

enter the age
50
if statement got executed

In [16]:
age = int(input("enter the age\n"))
if age < 45:
    print(str(input(("enter the output"))))
print("if statement got executed")

enter the age
30
enter the outputDVS
DVS
if statement got executed

In [ ]:
age = 20
age

In [18]:
age = 30
if age < 25:
    print("Ture")
else:
    print("False")

False

In [ ]:
age = int(input("enter the age \t"))
if age < 25:
    print(str(input(("enter the output \t"))))
else:
    print("mentioned age is > than 25")

# if else we can't write the more than of two statements

In [6]:
age = float(input("enter the age \t"))
if age < float(input("enter the compare value")):
    print(str(input(("enter the output \t"))))
else:
    print(str(input("enter the false output2")))

enter the age 	25
enter the compare value30
enter the output 	Balu
Balu

In [7]:
age = 50
if age < 35:
    print("fail")
elif age < 50:
    print("3rd class")
if age < 65:
    print("2nd class")
if age < 90:
    print("1st class")
if age <= 100:
    print("distinction")
else:
    print("")

2nd class
1st class
distinction

In [14]:
marks = float(input("enter the marks"))
if marks < 35:
    print("fail")
elif marks < 50:
    print("3rd class")
elif marks < 75:
    print("2nd class")
elif marks < 90:
    print("1st class")
elif marks <= 100:
    print("distinction")
else:
    print("error in marks")

enter the marks45
3rd class

In [15]:
marks = 60
if marks>0 and marks<35:
    print("group1")
elif marks

In [16]:
marks=50
loc="banaglore"
if marks<55 or loc=="hyderabad":
    print("group1")

elif marks < 60 or loc == "banaglore":
    print("group2")
else:
    print("unknow")

group1

In [24]:
age = 60
if age < 60:
    print("group1")
    if age < 40:
        print("group2")
        if age <20:
             print("group3")
        else:
            print("not group3")
                
    else:
        print("not group2")
else:
    print("not group1")

not group1

# looping statements in python 
1.for loop
2. while loop

In [25]:
range(1,10)

range(1, 10)

In [26]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [27]:
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [28]:
a = range(1,10)

In [29]:
a.count(1)

1

In [30]:
for i in range(1,10):
    print("each iteration", i)

each iteration 1
each iteration 2
each iteration 3
each iteration 4
each iteration 5
each iteration 6
each iteration 7
each iteration 8
each iteration 9

In [36]:
sumx=0
for i in range(1,10):
    sumx = sumx+i
    print("each iteration",i, "value are",sumx)

each iteration 1 value are 1
each iteration 2 value are 3
each iteration 3 value are 6
each iteration 4 value are 10
each iteration 5 value are 15
each iteration 6 value are 21
each iteration 7 value are 28
each iteration 8 value are 36
each iteration 9 value are 45

In [37]:
sumx=0
for i in range(1,10,2):
    sumx = sumx+i
    print("each iteration",i, "value are",sumx)

each iteration 1 value are 1
each iteration 3 value are 4
each iteration 5 value are 9
each iteration 7 value are 16
each iteration 9 value are 25

In [48]:
sumx=0
for i in range(1,10):
    sumx=sumx+i
    if sumx>40:
        break
    print("each iteration",i,"value are",sumx)

each iteration 1 value are 1
each iteration 2 value are 3
each iteration 3 value are 6
each iteration 4 value are 10
each iteration 5 value are 15
each iteration 6 value are 21
each iteration 7 value are 28
each iteration 8 value are 36

In [50]:
sumx=0
for i in range(1,10):
    pass

In [51]:
abc=[10,20,40,50]
sumx=0
for i in abc:
    sumx=sumx+i
    print("each iteration",i,"values are",sumx)

each iteration 10 values are 10
each iteration 20 values are 30
each iteration 40 values are 70
each iteration 50 values are 120

In [52]:
abc={10,20,40,50}
sumx=0
for i in abc:
    sumx=sumx+i
    print("each iteration",i,"values are",sumx)

each iteration 40 values are 40
each iteration 10 values are 50
each iteration 20 values are 70
each iteration 50 values are 120

In [56]:
abc=["india","AUS","Canada","NZ"]
for i in abc:
    if (i=="AUS"):
        continue
    print(i)

india
Canada
NZ

In [57]:
abc=["india","AUS","Canada","NZ"]
for i in abc:
    if(i=="AUS"):
        print(i)
        break
    else:
        print(i)

india
AUS

In [82]:
my_list = [100,20,40, "balu1"]
type(my_list)
my_list
my_list.append(100)
my_list
my_list.index("balu1")

3

In [84]:
my_list.remove(100)

In [85]:
my_list

[20, 40, 'balu1', 100]

In [86]:
set = {10,2020}

In [87]:
type(set)

set

In [96]:
print(my_list[-4])

20

In [98]:
my_tuple = (10,20,30)
type(my_tuple)

tuple

In [100]:
my_tuple.index(20)

1

In [ ]:
my_tuple.