# Set's:
A set is an unordered collection of items. Every element is unique (no duplicates) and must be immutable (which cannot be changed).the set itself is mutable. We can add or remove items from it.

In [28]:
my_set = {30,20,50,60,40,90}
type(my_set)

set

# function(add()):
add an element in set

In [4]:
my_set.add(70)
my_set

{20, 30, 40, 50, 60, 70, 90}

# Function(update()):
update the values in set

In [6]:
my_set.update([120,30,55,80,10])
my_set

{10, 20, 30, 40, 50, 55, 60, 70, 80, 90, 120}

# Function(discard())
it will remove the given element in discard list. even values is not in list it will execute the discard method

In [8]:
my_set.discard(40)
my_set

{10, 20, 30, 50, 55, 60, 70, 80, 90, 120}

# Function (remove()):
Value should be present while using the remove function otherwise it will through the error so this the difference between discard & remove

In [15]:
my_set.remove(60)
my_set

{10, 20, 30, 50, 70, 80, 90, 120}

# Function(pop()):
    it will remove any random value in set

In [16]:
my_set.pop()

70

# Function(clear()):
it will clear all data in set

In [24]:
my_set.clear()

In [25]:
my_set

set()

# without using copy function:
Copy data from other set but when you change the orginal set it will overwirte the copied set too.

In [30]:
my_set1 = my_set

In [38]:
my_set1

{20, 30, 40, 50, 60, 90}

# by using copy function:
copy the data from one set to another set

In [52]:
my_set3 = {40,50,90,80,90}
my_set2 = my_set3.copy

# Function(difference()):
The difference() method returns the set difference of two sets.

In [44]:
my_set.difference(my_set3)

{20, 30, 40, 50, 60}

# Function(difference_update()):
The difference_update() updates the set calling difference_update() method with the difference of sets.

In [45]:
my_set.difference_update(my_set3)

In [49]:
my_set

{20, 30, 40, 50, 60}

In [50]:
my_set3

{80, 90}

# function(intersection())
The intersection() method returns a new set with elements that are common to all sets.

In [ ]:
my_set.intersection(my_set3)

# function(intersection_update()):
The intersection_update() updates the set

In [54]:
my_set.intersection_update(my_set3)

In [55]:
my_set

{40, 50}

# Function(isdisjoint()):
The isdisjoint() method returns True if two sets are disjoint sets. If not, it returns False.

In [56]:
my_set.isdisjoint(my_set3)

False

# Function(issubset()):
The issubset() method returns True if all elements of a set are present in another set (passed as an argument). If not, it returns False.

In [57]:
my_set.issubset(my_set3)

True

# Function(symmetric_difference()):
The Python symmetric_difference() method returns the symmetric difference of two sets.

In [58]:
my_set.symmetric_difference(my_set3)

{80, 90}

# Function(symmetric_difference_update):
he symmetric_difference_update() method finds the symmetric difference of two sets and updates the set calling it.

In [61]:
my_set.symmetric_difference_update(my_set3)

In [62]:
my_set

{80, 90}

# Function(union()):
The Python set union() method returns a new set with distinct elements from all the sets.

In [64]:
my_set.union(my_set3)

{40, 50, 80, 90}

# Function(update()):
it will update the data from set1 to set2

In [67]:
my_set.update(my_set3)

In [68]:
my_set

{40, 50, 80, 90}