In [1]:
#Assignment on math library

In [4]:
import math as mt

In [19]:
#Returns the smallest integer greater than or equal to x.
mt.ceil(1.0000111)

2

In [29]:
#Returns x with the sign of y
mt.copysign(6,9)

6.0

In [30]:
#Returns the absolute value of x
mt.fabs(2.99)

2.99

In [39]:
#Returns the factorial of x ex:1*2*3*4= 24 (n*n-4*n-3*n-2*n-1)
mt.factorial(5)

120

In [43]:
#Returns the largest integer less than or equal to x
mt.floor(9.99999999999999999999)

10

In [51]:
#Returns the remainder when x is divided by y  ex:a%b
mt.remainder(5,5)
mt.fmod(5,5)

0.0

In [58]:
#Returns the mantissa and exponent of x as the pair (m, e)
mt.frexp(4)

(0.5, 3)

In [81]:
#Returns True if x is neither an infinity nor a NaN (Not a Number)
mt.isfinite(9)

True

In [98]:
#Returns True if x is a positive or negative infinity
mt.isinf(9)

False

In [103]:
#Returns True if x is a NaN
x = float('nan')
mt.isnan(x)

True

In [109]:
#Returns x * (2**i)
mt.ldexp(2,3)

16.0

In [112]:
#Returns the fractional and integer parts of x
mt.modf(10)

(0.0, 10.0)

In [115]:
#Returns the truncated integer value of x
mt.trunc(7)

7

In [116]:
#Returns e**x
mt.exp(2)

7.38905609893065

In [122]:
#Returns the natural logarithm of 1+x
mt.log1p(19)

2.995732273553991

In [120]:
#Returns the base-10 logarithm of x
mt.log10(19)

1.2787536009528289