In [2]:
#Module or Librery or functions : collection of functions are called as librery. in python there are "N" of librery's we have 
#exp: math, Datetime, numpy, pandas, matplotlib, seabarn, scipy, scikitlearn
#Datetime: to perform the datetime operation we are going to use the Datetime library
#numpay: to perform the numerical operations, we are going to use the numpy
#Pandas: to perfrom the data manupluation and data agregations and data sorting and join the multi tables in single tables, to perform all data related operations we are goingt o use the pandas
#    : for visuviliging the daya matplotlib and 
#      : 2 dimantional data or graph we are using the matplotlib
#   : for multi dimentioned data we use the sebarn
#   : to perform statistic operation in python we are going to use the "scipy"
#  : to perform mission learning algorithem, we are going to use the scikitlearn

In [4]:
#Math: to perfom mathmetical operation, we are going to use the "math" library
import math

In [6]:
math.sqrt(125)

11.180339887498949

In [7]:
math.exp(5)

148.4131591025766

In [8]:
import math as mt

In [9]:
mt.exp(5)

148.4131591025766

In [10]:
mt.log(5)

1.6094379124341003

In [11]:
mt.log2(5)

2.321928094887362

In [12]:
mt.log10(5)

0.6989700043360189

In [15]:
dir(mt)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'pi',
 'pow',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

In [16]:
mt.ceil(5.879)

6

In [17]:
mt.ceil(5.00001)

6

In [19]:
mt.ceil(5.000000000000000000000001)

5

In [20]:
mt.floor(5.000000001)

5

In [31]:
mt.floor(5.9999999999999999)

6

In [33]:
#mt.copysign(x,y)
#mt.copysign(x,-y)
#returns the value of x with y sign
mt.copysign(5,-6)

-5.0

In [34]:
mt.copysign(-10,20)

10.0

In [35]:
mt.copysign(20,20)

20.0

In [36]:
mt.fabs(10.598)#fabs means floot value

10.598

In [37]:
mt.fabs(-10.89)

10.89

In [40]:
mt.fmod(10,5)

0.0

In [41]:
10%5

0

In [42]:
#the main drowback of math librery, it able to consider of the single value(one single data point), we can't able to pass multi data points
#to over come that problam, we are going to use the numpy

# Date Time 
datetime_object = datetime.datetime.now()
print(datetime_object)

In [49]:
import datetime
datetime_object = datetime.date.today()
print(datetime_object)

2020-03-04

In [50]:
import datetime
print(dir(datetime))

['MAXYEAR', 'MINYEAR', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'date', 'datetime', 'datetime_CAPI', 'sys', 'time', 'timedelta', 'timezone', 'tzinfo']

In [51]:
datetimeobj = datetime.datetime.now()
print(datetimeobj)

2020-03-04 09:58:10.222794

In [52]:
dir(datetime)

['MAXYEAR',
 'MINYEAR',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'date',
 'datetime',
 'datetime_CAPI',
 'sys',
 'time',
 'timedelta',
 'timezone',
 'tzinfo']

In [53]:
import datetime
d = datetime.date(2019, 4, 13)
print(d)

2019-04-13

In [54]:
from datetime import date
today = date.today()
print("current date", today)

current date 2020-03-04

In [55]:
import datetime
today = datetime.date.today()
print(today)

2020-03-04

In [56]:
from datetime import date
timestamp = date.fromtimestamp(1326244364)
print("Date =", timestamp)

Date = 2012-01-11

In [59]:
from datetime import date

#date object of today's date
today = date.today()

print("Current yesr:", today.year)
print("current day:", today.day)
print("current month", today.month)

Current yesr: 2020
current day: 4
current month 3

In [71]:
from datetime import time
a = time(11, 34,56, 9)
print("hour=", a.hour)
print("minute=", a.minute)
print("seconds=", a.second)
print("microseconds=", a.microsecond)

hour= 11
minute= 34
seconds= 56
microseconds= 9

In [79]:
from datetime import datetime

a = date(2020, 4, 3)
print(a)

b = datetime(2017, 11, 20, 5,20,40,30)
print(b)
b.year

2020-04-03
2017-11-20 05:20:40.000030

2017

In [81]:
from datetime import datetime, date

t1 = date(year=2018, month=7, day=12)
t2 = date(year=2017,month=12, day=23)
t3= t1-t2
print(t3)

201 days, 0:00:00

In [82]:
from datetime import timedelta

t1 = timedelta(seconds=33)
t2 = timedelta(seconds=54)
t3 = t1-t2
print("t3=", t3)
print("t3=", abs(t3))

t3= -1 day, 23:59:39
t3= 0:00:21

In [84]:
from datetime import timedelta

t = timedelta(days= 5, hours=1, seconds=33, microseconds=2333)
print("total seconds=", t.total_seconds())

total seconds= 435633.002333

In [86]:
from datetime import datetime
#current date and time
now = datetime.now()
t = now.strftime("%H:%M:%S")
print("time:",t)

time: 10:39:22

In [87]:
import pytz