In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy as sp
import researchpy as rp
import seaborn as sns
import statsmodels.formula.api as sms
import statsmodels.formula.api as smf
from scipy import stats


from statsmodels.compat import lzip

In [2]:
df = pd.read_csv(r"C:\Users\Balakrishna_Vema\Documents\Data science\Data sets\bank_market3.csv")

In [3]:
df.head()

,Cust_num,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,1,58,management,married,tertiary,no,2143.0,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,2,44,technician,single,secondary,no,29.0,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,3,33,entrepreneur,married,secondary,no,2.0,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,4,47,blue-collar,married,unknown,no,1506.0,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,5,33,unknown,single,unknown,no,1.0,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [7]:
rp.summary_cont(df["balance"].groupby(df["marital"]))

              N         Mean           SD         SE    95% Conf.     Interval
marital
divorced   5194  1180.975934  2929.595088  40.649633  1101.294983  1260.656885
married   27157  1427.967228  3143.079003  19.072798  1390.583856  1465.350599
single    12774  1302.085564  2875.178799  25.439080  1252.223016  1351.948113

In [8]:
a=df[df["marital"]=="divorced"]
b=df[df["marital"]=="married"]
c=df[df["marital"]=="single"]

In [10]:
stats.f_oneway(a["balance"],b["balance"],c["balance"])

F_onewayResult(statistic=nan, pvalue=nan)

In [11]:
stats.f_oneway(a["balance"],b["balance"],c["balance"])

F_onewayResult(statistic=nan, pvalue=nan)

In [15]:
results = ols("balance~C(marital)", data=df).fit()
results.summary()

NameError: name 'ols' is not defined