In [33]:
#Every SAS file store in form of SAS7bdat format (statistc analysis system 1970 batch file data)

In [31]:
import os

In [3]:
import pandas as pd 
import numpy as np

In [4]:
os.getcwd()

'C:\\Users\\Balakrishna_Vema\\Documents\\Data science\\Code'

In [12]:
path = r"C:\Users\Balakrishna_Vema\Documents\Data science\Data sets"

In [13]:
os.getcwd()

'C:\\Users\\Balakrishna_Vema\\Documents\\Data science\\Code'

In [14]:
os.chdir(path)

In [15]:
os.getcwd()

'C:\\Users\\Balakrishna_Vema\\Documents\\Data science\\Data sets'

In [52]:
customer_data = pd.read_excel("bank_market (2).xlsx", nrows=100)

In [53]:
customer_data.head()

,Cust_num,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,1,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,2,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,3,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,4,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,5,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [54]:
#collection of dictonary with in list called as structured json of data

In [55]:
customer_data.tail()

,Cust_num,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
95,96,36,management,married,tertiary,no,101,yes,yes,unknown,5,may,426,1,-1,0,unknown,no
96,97,55,blue-collar,married,secondary,no,383,no,no,unknown,5,may,287,1,-1,0,unknown,no
97,98,60,retired,married,tertiary,no,81,yes,no,unknown,5,may,101,1,-1,0,unknown,no
98,99,39,technician,married,secondary,no,0,yes,no,unknown,5,may,203,1,-1,0,unknown,no
99,100,46,management,married,tertiary,no,229,yes,no,unknown,5,may,197,1,-1,0,unknown,no

In [56]:
customer_data.count()

Cust_num     100
age          100
job          100
marital      100
education    100
default      100
balance      100
housing      100
loan         100
contact      100
day          100
month        100
duration     100
campaign     100
pdays        100
previous     100
poutcome     100
y            100
dtype: int64

# Basic Quality/Sanity check

In [57]:
customer_data.shape  #dimensions of a data

(100, 18)

In [58]:
customer_data.shape[0]

100

In [43]:
customer_data.shape[1]

18

In [44]:
customer_data.columns

Index(['Cust_num', 'age', 'job', 'marital', 'education', 'default', 'balance',
       'housing', 'loan', 'contact', 'day', 'month', 'duration', 'campaign',
       'pdays', 'previous', 'poutcome', 'y'],
      dtype='object')

In [46]:
list(customer_data.columns)

['Cust_num',
 'age',
 'job',
 'marital',
 'education',
 'default',
 'balance',
 'housing',
 'loan',
 'contact',
 'day',
 'month',
 'duration',
 'campaign',
 'pdays',
 'previous',
 'poutcome',
 'y']

In [47]:
tuple(customer_data.columns)

('Cust_num',
 'age',
 'job',
 'marital',
 'education',
 'default',
 'balance',
 'housing',
 'loan',
 'contact',
 'day',
 'month',
 'duration',
 'campaign',
 'pdays',
 'previous',
 'poutcome',
 'y')

In [49]:
customer_data.dtypes #by defualt all catagirocal information will stored as object, numerical data os form of int & floot

Cust_num      int64
age           int64
job          object
marital      object
education    object
default      object
balance       int64
housing      object
loan         object
contact      object
day           int64
month        object
duration      int64
campaign      int64
pdays         int64
previous      int64
poutcome     object
y            object
dtype: object

In [50]:
customer_data.info() #descripion about the table

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 18 columns):
Cust_num     45211 non-null int64
age          45211 non-null int64
job          45211 non-null object
marital      45211 non-null object
education    45211 non-null object
default      45211 non-null object
balance      45211 non-null int64
housing      45211 non-null object
loan         45211 non-null object
contact      45211 non-null object
day          45211 non-null int64
month        45211 non-null object
duration     45211 non-null int64
campaign     45211 non-null int64
pdays        45211 non-null int64
previous     45211 non-null int64
poutcome     45211 non-null object
y            45211 non-null object
dtypes: int64(8), object(10)
memory usage: 6.2+ MB

In [51]:
#interview question: my dataset is 100 gb but my ram is 3 gb how do we load the data 
#    ANS: I will use nrows while loading the data

In [ ]:
#