In [3]:
import os
import pandas as pd
import numpy as np
os.listdir()

['.ipynb_checkpoints',
 '04-03-2020_Assignmnet_Datetime .ipynb',
 '04-03-2020_Assignmnet_Math.ipynb',
 '04_03_2020_Date_Time_functions.ipynb',
 '05-03-2020_Assignmnet_Numpy .ipynb',
 '05_03_2020_numpy_Session.ipynb',
 '06_03_2020_pandas-koti.ipynb',
 '06_03_2020_Pandas.ipynb',
 '06_03_2020_Pandas_assignment.ipynb',
 '09_03_2020_Pandas.ipynb',
 '09_03_2020_pandas_assignment.ipynb',
 '10-03-2020_pandas_bank_defualt.ipynb',
 '10_03_practice_python.ipynb',
 '11-03-2020_Pandas.ipynb',
 '24_02_20.ipynb',
 '26_02_2020_data_structures_python.ipynb',
 '27-02-2020_datatypes_statement_practices .ipynb',
 '27_02_2020_conditional_statements.ipynb',
 "28-020-2020_UDF's_class.ipynb",
 'Assignment 25-02-2020(Python).ipynb',
 'Assignment_26_02_2020_List_Data_type.ipynb',
 "Assignment_26_02_2020_Set's_Data_type.ipynb",
 'Assignment_26_02_2020_Tuple_Data_type.ipynb',
 'bank_market.csv.csv',
 'bank_market1.xlsx.xlsx',
 'bank_market_discussion-Koti1.xlsx',
 'Bill.csv',
 'Complaints.csv',
 'Directories and file handling_02_03_2020.ipynb',
 'Python_practice1_03_03_2020 .ipynb',
 'Python_practice_03_03_2020.ipynb',
 'test.txt',
 'test.txt.txt',
 'Untitled.ipynb',
 'Untitled1.ipynb']

In [4]:
bank = pd.read_csv('bank_market.csv.csv')

In [5]:
bank.shape

(45211, 18)

In [6]:
bank.columns

Index(['Cust_num', 'age', 'job', 'marital', 'education', 'default', 'balance',
       'housing', 'loan', 'contact', 'day', 'month', 'duration', 'campaign',
       'pdays', 'previous', 'poutcome', 'y'],
      dtype='object')

In [9]:
bank["marital"].value_counts() #Frequncy for catagirical variables

married     27214
single      12790
divorced     5207
Name: marital, dtype: int64

In [10]:
bank1 = bank[bank["marital"]=="single"]

In [12]:
bank1.shape

(12790, 18)

In [16]:
bank1=bank[(bank["marital"]=="single")|(bank["marital"]=="divorced")]
bank.shape

(45211, 18)

In [17]:
bank.columns

Index(['Cust_num', 'age', 'job', 'marital', 'education', 'default', 'balance',
       'housing', 'loan', 'contact', 'day', 'month', 'duration', 'campaign',
       'pdays', 'previous', 'poutcome', 'y'],
      dtype='object')

In [22]:
bank1 = bank[bank["age"]==44]
bank1.shape

(1136, 18)

In [23]:
bank1 = bank[(bank["age"]==44)|(bank["age"]==54)]
bank1.shape

(1947, 18)

In [25]:
bank1 = bank[(bank["age"] > 40) & (bank["default"]=="yes")]
bank1.shape

(347, 18)

In [27]:
bank2 = bank[(bank["age"]>40)&(bank["balance"]<0)]
bank2.shape

(1610, 18)

In [33]:
bank2 = bank[((bank["marital"]=="single")|(bank["marital"]=="divorced"))&(bank["default"]=="yes")]
bank2.shape

(367, 18)

In [35]:
bank2 = bank[bank["default"]=="yes"]
bank2.shape

(815, 18)

In [38]:
bank1 = bank[bank["age"].isin([44,54,60])]
bank1.shape

(2543, 18)

In [41]:
bank.describe()#describe function produce the summary statistics for the numerical data

,Cust_num,age,balance,day,duration,campaign,pdays,previous
count,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000
mean,22606.000000,40.936210,1362.272058,15.806419,258.163080,2.763841,40.197828,0.580323
std,13051.435847,10.618762,3044.765829,8.322476,257.527812,3.098021,100.128746,2.303441
min,1.000000,18.000000,-8019.000000,1.000000,0.000000,1.000000,-1.000000,0.000000
25%,11303.500000,33.000000,72.000000,8.000000,103.000000,1.000000,-1.000000,0.000000
50%,22606.000000,39.000000,448.000000,16.000000,180.000000,2.000000,-1.000000,0.000000
75%,33908.500000,48.000000,1428.000000,21.000000,319.000000,3.000000,-1.000000,0.000000
max,45211.000000,95.000000,102127.000000,31.000000,4918.000000,63.000000,871.000000,275.000000

In [42]:
bank.describe().T  # Or Trasnspose()

,count,mean,std,min,25%,50%,75%,max
Cust_num,45211.0,22606.000000,13051.435847,1.0,11303.5,22606.0,33908.5,45211.0
age,45211.0,40.936210,10.618762,18.0,33.0,39.0,48.0,95.0
balance,45211.0,1362.272058,3044.765829,-8019.0,72.0,448.0,1428.0,102127.0
day,45211.0,15.806419,8.322476,1.0,8.0,16.0,21.0,31.0
duration,45211.0,258.163080,257.527812,0.0,103.0,180.0,319.0,4918.0
campaign,45211.0,2.763841,3.098021,1.0,1.0,2.0,3.0,63.0
pdays,45211.0,40.197828,100.128746,-1.0,-1.0,-1.0,-1.0,871.0
previous,45211.0,0.580323,2.303441,0.0,0.0,0.0,0.0,275.0

In [43]:
bank.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Cust_num,45211.0,22606.000000,13051.435847,1.0,11303.5,22606.0,33908.5,45211.0
age,45211.0,40.936210,10.618762,18.0,33.0,39.0,48.0,95.0
balance,45211.0,1362.272058,3044.765829,-8019.0,72.0,448.0,1428.0,102127.0
day,45211.0,15.806419,8.322476,1.0,8.0,16.0,21.0,31.0
duration,45211.0,258.163080,257.527812,0.0,103.0,180.0,319.0,4918.0
campaign,45211.0,2.763841,3.098021,1.0,1.0,2.0,3.0,63.0
pdays,45211.0,40.197828,100.128746,-1.0,-1.0,-1.0,-1.0,871.0
previous,45211.0,0.580323,2.303441,0.0,0.0,0.0,0.0,275.0

In [44]:
bank["balance"].quantile(0.25)

72.0

In [47]:
bank["balance"].quantile([0,0.05,0.25,0.5,0.75,0.9,0.95,0.997,1])

0.000     -8019.00
0.050      -172.00
0.250        72.00
0.500       448.00
0.750      1428.00
0.900      3574.00
0.950      5768.00
0.997     22561.44
1.000    102127.00
Name: balance, dtype: float64

In [49]:
#outlier  means extream value there are two kinds of outlier 1. lower side outlier 2. upper side outlier 
#Q1:25%
#Q2: 50%
#Q3:75%
#Q4:100%
#diffrence bitween Q3-Q1 is IQR data(L.O: Q1-1.5*IQR) (U.O: Q3+1.5*IQR)
#any data point which is less than LO those are called as lower outlier 
#any data point which is above UO value that is upper outlier
#interview Question: can you tell me outlier valye 
#Question2: Can you tell me missing value

In [51]:
iqr = bank["balance"].quantile(0.75)- bank["balance"].quantile(0.25)
iqr

1356.0

In [55]:
lo = bank["balance"].quantile(0.25)-(1.5*iqr)
print("lower outlier cut point", lo)
print("min balance in given data" , bank["balance"].min())
print("\n")
uo = bank["balance"].quantile(0.75)+(1.5*iqr)
print("upper outlier cut point" , uo)
print("max balance in given data", bank["balance"].max())

lower outlier cut point -1962.0
min balance in given data -8019


upper outlier cut point 3462.0
max balance in given data 102127

In [80]:
def outlier_cal(data):
    col = list(data.columns)
    for i in col:
        if data[i].dtypes != "object":
            iqr=data[i].quantile(0.75)-data[i].quantile(0.25)
            lo = data[i].quantile(0.25)-(1.5*iqr)
            uo = data[i].quantile(0.75)+(1.5*iqr)
            print("each variable orutlier values", i, "\n")
            print("lower outlier cut off value", lo)
            print("min value in given data", data[i].min())
            print("upper outlier cut off data", uo)
            print("max value of given data", data[i].max())
            print("\n")

In [63]:
outlier_cal(data= bank)

each variable outlier values Cust_num

lower outlier cut off value -22604.0
min value in given data 1
upper outlier cut off data 67816.0
max value of given data 45211


each variable outlier values age

lower outlier cut off value 10.5
min value in given data 18
upper outlier cut off data 70.5
max value of given data 95


each variable outlier values balance

lower outlier cut off value -1962.0
min value in given data -8019
upper outlier cut off data 3462.0
max value of given data 102127


each variable outlier values day

lower outlier cut off value -11.5
min value in given data 1
upper outlier cut off data 40.5
max value of given data 31


each variable outlier values duration

lower outlier cut off value -221.0
min value in given data 0
upper outlier cut off data 643.0
max value of given data 4918


each variable outlier values campaign

lower outlier cut off value -2.0
min value in given data 1
upper outlier cut off data 6.0
max value of given data 63


each variable outlier values pdays

lower outlier cut off value -1.0
min value in given data -1
upper outlier cut off data -1.0
max value of given data 871


each variable outlier values previous

lower outlier cut off value 0.0
min value in given data 0
upper outlier cut off data 0.0
max value of given data 275

In [77]:
def numeric_summary_stat(data):
    sumry_stat=data.describe().T
    iqr = sumry_stat["75%"]-sumry_stat["25%"]
    sumry_stat["lo"] = sumry_stat["25%"]-(1.5*iqr)
    sumry_stat["uo"] = sumry_stat["75%"]+(1.5*iqr)
    sumry_stat["missing%"]=(len(data)-sumry_stat["count"])/len(data)*100
    sumry_stat["5%"] = data.quantile(0.05)
    sumry_stat1= sumry_stat[["min","5%", "50%", "mean", "75%","max","count","missing%", "lo", "uo"]]
    sumry_stat1.to_excel(r"C:\Users\Balakrishna_Vema\Documents\Data science\Analysis\summary_stat.xlsx")                            
    return sumry_stat1

In [78]:
numeric_summary_stat(data = bank)

,min,5%,50%,mean,75%,max,count,missing%,lo,uo
Cust_num,1.0,2261.5,22606.0,22606.000000,33908.5,45211.0,45211.0,0.0,-22604.0,67816.0
age,18.0,27.0,39.0,40.936210,48.0,95.0,45211.0,0.0,10.5,70.5
balance,-8019.0,-172.0,448.0,1362.272058,1428.0,102127.0,45211.0,0.0,-1962.0,3462.0
day,1.0,3.0,16.0,15.806419,21.0,31.0,45211.0,0.0,-11.5,40.5
duration,0.0,35.0,180.0,258.163080,319.0,4918.0,45211.0,0.0,-221.0,643.0
campaign,1.0,1.0,2.0,2.763841,3.0,63.0,45211.0,0.0,-2.0,6.0
pdays,-1.0,-1.0,-1.0,40.197828,-1.0,871.0,45211.0,0.0,-1.0,-1.0
previous,0.0,0.0,0.0,0.580323,0.0,275.0,45211.0,0.0,0.0,0.0

In [81]:
len(bank)

45211