In [1]:
#N, C- more than two levels Anova
#it is used to compare the means of 2 groups 
#in anova we can use liner regression
#Anova test there is a  difference in the mean in the model but it dosen't tell where the difference is there is one
#it is generalized linear model 
#outcome (model )+error
#Ho- No differenace between mean X1=x2=x3
#H1:- differeance between means exists same where x1!=x2!=x3 or x1=x2

# Anova assumption:
if group size are equal the f-statstics is robow to voilation of normality 
homogenity of variance 
independent observation 

if test fails we will use Kurskal-wallish test or wel

In [2]:
import numpy as np
import pandas as pd

In [7]:
hr = pd.read_csv(r"C:\Users\Balakrishna_Vema\Documents\Data science\Data sets\HR_comma_sep.csv")

In [10]:
hr.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Departments,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [11]:
hr1=hr[["satisfaction_level","salary"]]

In [12]:
import researchpy as rp

In [13]:
rp.summary_cat(hr1["salary"])

  Variable Outcome  Count  Percent
0   salary     low   7316    48.78
1           medium   6446    42.98
2             high   1237     8.25

In [14]:
group1 = hr1[hr1["salary"]=="low"]
group2 = hr1[hr1["salary"]=="medium"]
group3 = hr1[hr1["salary"]=="high"]

In [16]:
f_oneway(group1["satisfaction_level"],group2["satisfaction_level"],group3["satisfaction_level"])

NameError: name 'f_oneway' is not defined

In [19]:
rp.summary_cont(hr1["satisfaction_level"].groupby(hr1["salary"]))

           N      Mean        SD        SE  95% Conf.  Interval
salary
high    1237  0.637470  0.226791  0.006448   0.624826  0.650113
low     7316  0.600753  0.254594  0.002977   0.594919  0.606588
medium  6446  0.621817  0.245069  0.003052   0.615833  0.627800