# Lists Data type: 
List are similar to arrays.the list can contain data of different types. The items stored in the list are separated with a comma (,) and enclosed within square brackets [].

In [2]:
my_list = ["BalaKrishna", 100, "Vema", 200, 3.j]

In [3]:
my_list

['BalaKrishna', 100, 'Vema', 200, 3j]

In [5]:
type(my_list)

list

# Function(append)
appened(): Add a single element to the end of the list

In [20]:
my_list.append( "Krishna")
my_list

['BalaKrishna', 100, 'Vema', 200, 3j, 100, 100, 'Krishna', 'Krishna']

# Function(Insert)
Inserts Element to The List
The syntax of insert() method is list.insert(index, element)

The insert() function takes two parameters:

index - position where an element needs to be inserted
element - this is the element to be inserted in the list

In [41]:
my_list.insert( 9, "Bala2")
my_list

['BalaKrishna',
 100,
 'Vema',
 200,
 3j,
 100,
 100,
 'Krishna',
 'Krishna',
 'Bala2',
 'Bala2',
 'Bala2',
 'Vema2']

# Function(remove)
the remove() method removes the first matching element from the list.

In [38]:
my_list.remove('Bala2')

In [39]:
my_list

['BalaKrishna',
 100,
 'Vema',
 200,
 3j,
 100,
 100,
 'Krishna',
 'Krishna',
 'Bala2',
 'Vema2']

#  Function(count)
The count() method returns the number of occurrences of an element in a list.

In [43]:
my_list.count("Bala2")

3

# Function(pop()):
The pop() method removes the item at the given index from the list and returns the removed item
list.pop(index)

In [44]:
my_list.pop(1)

100

In [45]:
my_list

['BalaKrishna',
 'Vema',
 200,
 3j,
 100,
 100,
 'Krishna',
 'Krishna',
 'Bala2',
 'Bala2',
 'Bala2',
 'Vema2']

#  Function(reverse()):
The reverse() method reverses the elements of a given list.

In [46]:
my_list.reverse()

In [47]:
my_list

['Vema2',
 'Bala2',
 'Bala2',
 'Bala2',
 'Krishna',
 'Krishna',
 100,
 100,
 3j,
 200,
 'Vema',
 'BalaKrishna']

# Function(sort()):
The sort() method sorts the elements of a given list.

In [56]:
my_list1 = [100,20,30,50,90,50,60]
my_list1.sort()
my_list1

[20, 30, 50, 50, 60, 90, 100]

In [58]:
my_list1.index(100)

6

In [59]:
my_list1.count(100)

1