In [59]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [80]:
air = pd.read_csv(r"C:\Users\Balakrishna_Vema\Documents\Data science\Data sets\AirPassengers.csv")

In [81]:
air1 = air._get_numeric_data()

In [82]:
air1.head()

,Week_num,Passengers,Promotion_Budget,Service_Quality_Score,Inter_metro_flight_ratio
0,1,37824,517356,4.00000,0.70
1,2,43936,646086,2.67466,0.80
2,3,42896,638330,3.29473,0.90
3,4,35792,506492,3.85684,0.40
4,5,38624,609658,3.90757,0.87

In [83]:
air1.drop("Week_num", axis=1, inplace=True)

In [84]:
air1

,Passengers,Promotion_Budget,Service_Quality_Score,Inter_metro_flight_ratio
0,37824,517356,4.00000,0.70
1,43936,646086,2.67466,0.80
2,42896,638330,3.29473,0.90
3,35792,506492,3.85684,0.40
4,38624,609658,3.90757,0.87
...,...,...,...,...
75,66934,927696,1.07138,0.84
76,81228,1108254,0.85536,0.90
77,43288,638162,3.08191,0.62
78,43834,636636,2.75382,0.79
79,40852,575008,3.52768,0.54

In [86]:
from sklearn.model_selection import train_test_split
train, test = train_test_split(air1, test_size=0.2, random_state=0)
print(train.shape, test.shape)

(64, 4) (16, 4)

In [87]:
import statsmodels.formula.api as smf
model = smf.ols(formula="Passengers~Promotion_Budget+Service_Quality_Score+Inter_metro_flight_ratio", data=train).fit()
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:             Passengers   R-squared:                       0.943
Model:                            OLS   Adj. R-squared:                  0.940
Method:                 Least Squares   F-statistic:                     330.9
Date:                Sun, 10 May 2020   Prob (F-statistic):           2.87e-37
Time:                        04:46:19   Log-Likelihood:                -587.63
No. Observations:                  64   AIC:                             1183.
Df Residuals:                      60   BIC:                             1192.
Df Model:                           3
Covariance Type:            nonrobust
============================================================================================
                               coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------
Intercept                 2.106e+04   3705.814      5.682      0.000    1.36e+04    2.85e+04
Promotion_Budget             0.0518      0.004     13.333      0.000       0.044       0.060
Service_Quality_Score    -2977.5814    549.370     -5.420      0.000   -4076.484   -1878.679
Inter_metro_flight_ratio  -751.0003   2221.111     -0.338      0.736   -5193.884    3691.883
==============================================================================
Omnibus:                        1.223   Durbin-Watson:                   1.944
Prob(Omnibus):                  0.543   Jarque-Bera (JB):                1.016
Skew:                          -0.038   Prob(JB):                        0.602
Kurtosis:                       2.387   Cond. No.                     7.77e+06
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 7.77e+06. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [88]:
model.predict() #return the predicted all 64 details

array([35501.27417587, 36704.83777412, 35683.74120861, 36495.29760619,
       30534.00263235, 33190.12370002, 43116.524868  , 39924.35021478,
       51396.51628112, 34733.86102704, 50185.26834921, 54815.0053467 ,
       42708.44371527, 38519.47404919, 34005.25143121, 40339.72419046,
       37669.74736323, 57000.24482434, 31849.91987442, 43985.40251933,
       37344.25572554, 45647.03704738, 35274.29798011, 46690.79661069,
       30051.43994703, 53160.0213705 , 45949.81573987, 49310.88157512,
       65276.90517916, 51731.64952435, 36226.38303862, 59049.93890966,
       46665.13282086, 39524.34403175, 50285.45630171, 40259.31759921,
       42773.8329581 , 35412.29803767, 45232.2501717 , 36861.42666217,
       33790.10692622, 54355.64589198, 53057.33992345, 50448.96824037,
       56242.62907216, 49470.18171229, 32054.15723316, 43438.89272542,
       36601.76135935, 39947.69358746, 35666.50035481, 39329.59358623,
       39734.74916911, 32394.85980729, 32825.51945367, 50772.01183882,
       47112.83774171, 55572.50915131, 43440.21599606, 75225.29604928,
       45864.76078793, 69484.79473497, 45073.27492427, 32515.20735005])

In [89]:
train1=train.reset_index().drop(["index"],axis=1)

In [90]:
train1

,Passengers,Promotion_Budget,Service_Quality_Score,Inter_metro_flight_ratio
0,35792,506492,3.85684,0.40
1,32752,502712,3.37428,0.45
2,34592,495152,3.60086,0.39
3,35168,518070,3.70671,0.47
4,30432,373954,3.21748,0.41
...,...,...,...,...
59,81228,1108254,0.85536,0.90
60,43722,652680,2.84565,0.69
61,67130,1003002,0.98050,0.79
62,43088,658714,3.20884,0.72
63,32272,416374,3.28734,0.42

In [69]:
test1=test.reset_index().drop(["index"],axis=1)

In [109]:
import statsmodels.formula.api as smf
model1 = smf.ols(formula="Passengers~Promotion_Budget+Service_Quality_Score+Inter_metro_flight_ratio", data=test).fit()
model1.summary()

C:\Users\Balakrishna_Vema\AppData\Local\Continuum\anaconda3\lib\site-packages\scipy\stats\stats.py:1450: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=16
  "anyway, n=%i" % int(n))

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:             Passengers   R-squared:                       0.970
Model:                            OLS   Adj. R-squared:                  0.963
Method:                 Least Squares   F-statistic:                     131.4
Date:                Sun, 10 May 2020   Prob (F-statistic):           1.92e-09
Time:                        04:53:45   Log-Likelihood:                -148.06
No. Observations:                  16   AIC:                             304.1
Df Residuals:                      12   BIC:                             307.2
Df Model:                           3
Covariance Type:            nonrobust
============================================================================================
                               coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------
Intercept                 1.168e+04   1.48e+04      0.790      0.445   -2.05e+04    4.39e+04
Promotion_Budget             0.0696      0.013      5.519      0.000       0.042       0.097
Service_Quality_Score    -1608.5605   2070.981     -0.777      0.452   -6120.841    2903.720
Inter_metro_flight_ratio -8786.5481   6493.771     -1.353      0.201   -2.29e+04    5362.163
==============================================================================
Omnibus:                        0.668   Durbin-Watson:                   1.712
Prob(Omnibus):                  0.716   Jarque-Bera (JB):                0.481
Skew:                          -0.384   Prob(JB):                        0.786
Kurtosis:                       2.637   Cond. No.                     1.49e+07
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.49e+07. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [93]:
train_pred = model.predict(train1)
train_pred.head()

0    35501.274176
1    36704.837774
2    35683.741209
3    36495.297606
4    30534.002632
dtype: float64

In [94]:
model.rsquared

0.9430084573449903

In [95]:
model.rsquared_adj

0.9401588802122398

In [96]:
model.fvalue

330.9292619269348

In [97]:
error= np.abs(sum(train1["Passengers"]-train_pred))
error

4.089088179171085e-09

In [105]:
#MAE with function
from sklearn.metrics import mean_absolute_error
mean_absolute_error(train1["Passengers"],train_pred)

1969.6556622067433

In [107]:
#MAE(Mean absolution error calculate) with manually 
error= sum(abs(train1["Passengers"]-train_pred))
mae = error/len(train1) #Mean absolute error
mae

1969.6556622067435

In [111]:
test_pred = model1.predict(test)
test_pred

50    44150.162972
27    36735.760898
30    32767.159253
77    45660.448866
45    36523.193977
71    73612.431592
66    38393.899282
68    74826.423868
48    44083.786483
69    63669.089008
40    47135.001357
63    72701.354957
2     42869.567224
72    60657.486187
52    33752.705770
34    36557.528305
dtype: float64

In [113]:
#MAE on test data set
from sklearn.metrics import mean_absolute_error
mean_absolute_error(test["Passengers"],test_pred)

1951.1580095934642

In [34]:
error= sum(train1["Passengers"]-train_ped)
mae = error/len(train1)
mae

-6.389200279954821e-11

In [114]:
MSE=sum(np.square(train1["Passengers"]-train_pred))/len(train1)
MSE

5528913.903158465

In [119]:
MSE=sum(np.square(test["Passengers"]-test_pred))/len(test)
MSE

6382983.253943953

In [120]:
from sklearn.metrics import mean_squared_error
mean_squared_error(test1["Passengers"], test_pred)

6382983.253943954

In [122]:
sum(abs(train1["Passengers"]-train_pred)/train1["Passengers"])/len(train1)

0.04652341678274594

In [124]:
air1= air[["Passengers","Promotion_Budget"]]

In [125]:
from sklearn.preprocessing import MinMaxScaler
mn=MinMaxScaler()
air2=pd.DataFrame(mn.fit_transform(air1),columns=air1.columns)
air2.head()

   Passengers  Promotion_Budget
0    0.173698          0.204257
1    0.290055          0.377614
2    0.270256          0.367169
3    0.135014          0.189627
4    0.188928          0.328557

In [126]:
air2["Passengers"].min()

0.0

In [129]:
air2["Promotion_Budget"].max()

1.0