In [9]:
import numpy as np
import pandas as pd

In [10]:
#How will you extract the number present in the string 's' (given below) and check whether it is greater than 50?

In [11]:
s = "Victory87"

In [12]:
data = s[-2:]

In [13]:
type(data)

str

In [14]:
data1 = data>"90"

In [15]:
data1

False

In [16]:
#Consider a dictionary named 'document' given by:
#document = {"company": "analyticsvidhya", "location" : "India"} 
#How can you add an element "company_size" equals 30 to the dictionary?

In [54]:
document = {"company": "analyticsvidhya", "location" : "India"}
document

{'company': 'analyticsvidhya', 'location': 'India'}

In [55]:
document.update({"company_size":30})

In [56]:
document

{'company': 'analyticsvidhya', 'location': 'India', 'company_size': 30}

In [108]:
#How can you check if a key name "company" exists in the document?
data = pd.DataFrame(document)
data.company is data["company"]

True

In [58]:
document

{'company': 'analyticsvidhya', 'location': 'India', 'company_size': 30}

In [59]:
#document = {"company": "analyticsvidhya", "location" : "India", "company_size" : 30}

#How can you add a list of years of operation 2016, 2017, and 2018?
document.update({"years_of_operation" : [2016, 2017, 2018]})

In [82]:
document

{'company': 'analyticsvidhya',
 'location': 'India',
 'years_of_operation': [2016, 2017, 2018]}

In [61]:
type(document)

dict

In [81]:
#How can you remove the key-value pair "company_size" : 30 ?
del document['company_size']

In [53]:
documemt

NameError: name 'documemt' is not defined

In [83]:
#What is the expected output of the following snippet:

list1 = ['a', 'b', 'c']

list2 = ['d', 'e']

In [84]:

list2.append('f')

In [85]:
list2

['d', 'e', 'f']

In [86]:

print (list1 + list2)

['a', 'b', 'c', 'd', 'e', 'f']

In [88]:
#What is the expected output of the following snippet:

#list1 = ['a', 'b', 'c']

#list2 = ['d', 'e']

#list2.append('f')

#print (list1 + list2)
#Ans: a,b,c,d,e,f

In [89]:
list1 = ['a', 'b', 'c']
list2 = ['d', 'e']

In [90]:
list1.extend(list2)

In [91]:
list1

['a', 'b', 'c', 'd', 'e']

In [92]:
print (len(list1) + len(list2))

7

In [93]:
y = 0 
for x in [1,2,3,4,5]:
    y += x  
print (y)

15

In [94]:
2*3

6

In [95]:
2**3

8

In [96]:
2*2*2

8

In [97]:
25*5

125

In [98]:
def power(a, n):
    return a**n
def string_length(mystring):
    return len(mystring)

print(power(string_length("Hello"), 3))

125

In [100]:
def _a_d_d_i_t_i_o_n (_a, _n):
    return (_a + _n)

In [101]:
_a_d_d_i_t_i_o_n(1,2)

3

In [103]:
def string_len(s):
    length = 0
    for i in s:
        length+=1
        return length    
a = string_len("Python is an open source language.")

In [104]:
a

1