In [12]:
abc = "bala krishna"

In [13]:
len(abc)

12

In [14]:
bac1= "vema"

In [15]:
abc+bac1

'bala krishnavema'

In [16]:
abc+bac1.capitalize()

'bala krishnaVema'

In [17]:
tuple = ("Bala", 67, 89)

In [18]:
type(tuple)

tuple

In [21]:
tuple.index("Bala")

0

In [22]:
list = [10,20, "Balu"]

In [23]:
type(list)

list

In [24]:
list.append(67)

In [25]:
list

[10, 20, 'Balu', 67]

In [26]:
list.pop()

67

In [28]:
list.clear()

In [29]:
list

[]

In [33]:
dist = {(20,80)}

In [35]:
type(dist)

set

In [36]:
dist = {"Name": "Bala", "Age": 30}

In [37]:
type(dist)

dict

In [40]:
dist.update({"Name":"Balu"})

In [41]:
dist

{'Name': 'Balu', 'Age': 30}

In [42]:
set = {30,30,60}

In [44]:
set.intersection_update()

In [45]:
set

{30, 60}

In [47]:
set.intersection()

{30, 60}

In [52]:
num = int(input("enter the number?"))
if num%2 == 0:
    print("NUmber is even")

enter the number?8
NUmber is even

In [68]:
a = 8
b = 2
a%b

0

In [75]:
num = int(input("enter the number?"))
if num == 10:
    print("number is == 10")
elif num ==30:
    print("number is ==30")
else:
    print("not equal to 10 and 30")

enter the number?90
not equal to 10 and 30

In [91]:
country = str(input("enter the country"))
if country == "IND":
    print(input("enter the state"))
              if str == "TS": 
              print("TS state is in INDIA")
    
    
        
else:
        print("state is not in INDIA")

IndentationError: unexpected indent (<ipython-input-91-ca9fc3abdf1f>, line 4)

In [93]:
i = 1
num = int(input("Enter the number up to which you want to print?"))
for i in range(0,12):
    print(i,end='')

Enter the number up to which you want to print?11
01234567891011

In [101]:
i = 1
num = int(input("Enter the number :"));
for i in range(1,11):
    print("%d X %d = %d"%(num,i,num*i));

Enter the number :9
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
9 X 10 = 90

In [ ]:
n = int