In [1]:
20
type(20)

int

In [2]:
#NUmerical data types: int, flot, boolean, complex
#Boolena 
ab = True 
type(ab)

bool

In [3]:
#COmplex
ab = 2+3j
type(ab)

complex

In [4]:
abc ="Hello Balakrioshna"
type(abc)

str

In [5]:
abc.split()

['Hello', 'Balakrioshna']

In [7]:
abc.upper()

'HELLO BALAKRIOSHNA'

In [8]:
abc.lower()

'hello balakrioshna'

In [9]:
abc.isdigit()

False

In [10]:
abc.isalpha()

False

In [12]:
abc.islower()

False

In [14]:
abc.isupper()

False

In [15]:
abc = " hello "

In [16]:
abc.lstrip()

'hello '

In [17]:
abc.rstrip()

' hello'

In [18]:
abc.strip()

'hello'

In [19]:
abc = "balakrishna Vema"

In [20]:
abc.split()

['balakrishna', 'Vema']

In [21]:
abc.splitlines()

['balakrishna Vema']

In [22]:
abc.find("V")

12

In [23]:
abc.startswith("b")

True

In [25]:
abc.startswith("a")

False

In [26]:
abc.endswith("a")

True

In [27]:
abc.swapcase()

'BALAKRISHNA vEMA'

In [28]:
abc.index("Vema")

12

In [32]:
abc = "balakrishna vema balakrishna vema balakrishna vema"
abc.find("vema")

12

In [33]:
abc.find("vema")

12

In [34]:
abc.rfind("vema")

46

In [35]:
abc.rfind("vema")

46

In [36]:
abc.title()

'Balakrishna Vema Balakrishna Vema Balakrishna Vema'

In [37]:
abc.capitalize()

'Balakrishna vema balakrishna vema balakrishna vema'

In [38]:
abc.casefold()

'balakrishna vema balakrishna vema balakrishna vema'

In [41]:
abc.center(100)

'                         balakrishna vema balakrishna vema balakrishna vema                         '

In [42]:
abc.count("vema")

3

In [43]:
abc.encode()

b'balakrishna vema balakrishna vema balakrishna vema'

In [44]:
abc.expandtabs()

'balakrishna vema balakrishna vema balakrishna vema'

In [45]:
abc.replace("balakrishna", "Bala")

'Bala vema Bala vema Bala vema'

In [46]:
abc1 = "Hello"

In [50]:
abc2 = "Hellow".join(abc)

In [51]:
abc2

'bHellowaHellowlHellowaHellowkHellowrHellowiHellowsHellowhHellownHellowaHellow HellowvHelloweHellowmHellowaHellow HellowbHellowaHellowlHellowaHellowkHellowrHellowiHellowsHellowhHellownHellowaHellow HellowvHelloweHellowmHellowaHellow HellowbHellowaHellowlHellowaHellowkHellowrHellowiHellowsHellowhHellownHellowaHellow HellowvHelloweHellowmHellowa'

In [52]:
abc[0]

'b'

In [53]:
abc[-1]

'a'

In [54]:
abc[0:3]

'bal'

In [55]:
abc[0:20]

'balakrishna vema bal'

In [56]:
abc[-10]

'i'

In [59]:
abc[0:100]

'balakrishna vema balakrishna vema balakrishna vema'

In [61]:
#list: collection of numbers and strings and list must be specifiy in [] brackets and list is mutable
my_list = [10, 20,30,40,50, "Bala"]
type(my_list)

list

In [64]:
my_list.append(200)
my_list

[10, 20, 30, 40, 50, 'Bala', 200, 200]

In [65]:
my_list

[10, 20, 30, 40, 50, 'Bala', 200, 200]

In [66]:
my_list.append("Krishna")

In [67]:
my_list

[10, 20, 30, 40, 50, 'Bala', 200, 200, 'Krishna']

In [68]:
my_list.append([2000, 50000, "Bala"])

In [69]:
my_list

[10, 20, 30, 40, 50, 'Bala', 200, 200, 'Krishna', [2000, 50000, 'Bala']]

In [70]:
my_list.index(50)

4

In [71]:
my_list[4]

50

In [72]:
my_list[4] = 179

In [73]:
my_list

[10, 20, 30, 40, 179, 'Bala', 200, 200, 'Krishna', [2000, 50000, 'Bala']]

In [74]:
my_list[-1]

[2000, 50000, 'Bala']

In [75]:
my_list[-1][-1]

'Bala'

In [76]:
my_list[-1][-2]

50000

In [77]:
del my_list[3]

In [78]:
my_list

[10, 20, 30, 179, 'Bala', 200, 200, 'Krishna', [2000, 50000, 'Bala']]

In [83]:
my_list.index("Bala")

4

In [85]:
my_list.count("Bala")

1

In [86]:
del my_list[4]

In [87]:
my_list

[10, 20, 30, 179, 200, 200, 'Krishna', [2000, 50000, 'Bala']]

In [88]:
del my_list[0:3]

In [89]:
my_list

[179, 200, 200, 'Krishna', [2000, 50000, 'Bala']]

# Date: 26-02 # Tupes: collection of numbers & strings, tuples are immutable and tubles must be in ()

In [91]:
my_tuple = (10,20,30,"bala")

In [92]:
type(my_tuple)

tuple

In [93]:
my_tuple1 = (20,100,"krishna")

In [95]:
my_tuple3 = my_tuple+my_tuple1 #"tuple can accept the duplicate values"

In [101]:
my_set = {10,20,30,40,"bala"} #set can accept the int and strings

In [103]:
type(my_set)

set

In [104]:
my_set.add(100)

In [105]:
my_set

{10, 100, 20, 30, 40, 'bala'}

In [106]:
my_set.remove(100)

In [107]:
my_set

{10, 20, 30, 40, 'bala'}

# 27_02_2020-conditional statments

In [109]:
age = 40
if age > 25:
    print("group1")
print("if statement got executed ")

group1
if statement got executed

In [111]:
age = int(input("Enter the age\n"))
if age < 45:
    print("group1")
print("if statment got executed")

Enter the age
55
if statment got executed

In [112]:
age = int(input("enter the age\n"))
if age < 45:
    print(str(input("enter the output")))
print("if statment got executed")

enter the age
40
enter the outputBala
Bala
if statment got executed

In [113]:
age = 30
if age < 25:
    print("True")
else:
    print("False")

False

In [115]:
age = int(input("enter your age"))
if age > 18:
    print("you are eligble for voting")
else:
    print("sorry you are not elgible for voting")

enter your age10
sorry you are not elgible for voting

In [120]:
marks = int(input("enter your age"))
if marks < 35:
    print("fail")
elif marks < 50:
    print("3rd class")
elif marks < 75:
    print("2nd class")
elif marks < 85:
    print("1st class")
elif marks <= 100:
    print("distinct")
else:
    print("given data is worng")

enter your age35
3rd class

# Looping statments

#  1. for loop and 2. while loop

In [121]:
range(1,10)

range(1, 10)

In [122]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [123]:
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [124]:
a = range(1,10)

In [126]:
a.count(2)

1

In [127]:
for i in range(1,10):
    print("each iteration:", i)

each iteration: 1
each iteration: 2
each iteration: 3
each iteration: 4
each iteration: 5
each iteration: 6
each iteration: 7
each iteration: 8
each iteration: 9

In [130]:
sumx = 0
for i in range(1,10):
    sumx = sumx+i
    print("each iteration ",i, "values are", sumx)

each iteration  1 values are 1
each iteration  2 values are 3
each iteration  3 values are 6
each iteration  4 values are 10
each iteration  5 values are 15
each iteration  6 values are 21
each iteration  7 values are 28
each iteration  8 values are 36
each iteration  9 values are 45

In [131]:
sumx = 0
for i in range(1,10,2):
    sumx = sumx+i
    print("each iteration", i, "pritnt value", sumx)

each iteration 1 pritnt value 1
each iteration 3 pritnt value 4
each iteration 5 pritnt value 9
each iteration 7 pritnt value 16
each iteration 9 pritnt value 25

In [135]:
sumx =0 
for i in range(1,10):
    sumx =  sumx+i
    if sumx>40:
        break
    print("each itertaion", i, "values are",sumx)

each itertaion 1 values are 1
each itertaion 2 values are 3
each itertaion 3 values are 6
each itertaion 4 values are 10
each itertaion 5 values are 15
each itertaion 6 values are 21
each itertaion 7 values are 28
each itertaion 8 values are 36

In [136]:
abc = [10,20,30,40]
sumx = 0
for i in abc:
    sumx = sumx+i
    print("each iteration",i, "values are", sumx)

each iteration 10 values are 10
each iteration 20 values are 30
each iteration 30 values are 60
each iteration 40 values are 100

In [137]:
abc = ["india", "AUS","Canada","NZ"]
type(abc)

list

In [141]:
for i in abc:
    if i == "AUS":
        continue
    print(i)

india
Canada
NZ

In [143]:
for i in abc:
    if i == "AUS":
        print(i)
        break
    else:
        print("print the else",i)

print the else india
AUS